/frontend/.env
/.env
/.idea
/frontend/static/main.js
/frontend/static/main.js.LICENSE.txt
/frontend/static/*.map
/frontend/node_modules/
/venv/
/__pycache__/
__pycache__/
*.py[cod]
.DS_Store
/logs/
/media/
/static/
/tmp/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/data/
