{% load static %}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>LawCrawl</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logos/favicon.ico' %}">

    {# Google AdSense script #}
{#    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7265352508235093"#}
{#     crossorigin="anonymous"></script>#}

</head>
<body>
<div id="app"></div>
<script src="{% static 'main.js' %}"></script>
</body>
</html>
